:root{

--primary:#00ff88;
--bg:#060606;

}

*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

margin:0;

background:
radial-gradient(circle at center,#0d1117,#050505);

font-family:'Share Tech Mono', monospace;

color:white;

overflow-x:hidden;

color:#00ff88;

}

.panel{

width:min(1200px,90%);

margin:50px auto;

padding:40px;

border:2px solid var(--primary);

box-shadow:0 0 30px rgba(0,255,120,.2);

background:#0a0a0a;

position:relative;

z-index:10;

}

.panel-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:40px;

}

.panel-header h1{

margin:0;

letter-spacing:6px;

color:var(--primary);

}

.panel-header p{

margin-top:5px;

opacity:.7;

}

.status-dot{

color:#00ff88;

font-weight:bold;

}

.info-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:20px;

margin-bottom:40px;

}

.info-grid div{

border:1px solid rgba(255,255,255,.15);

padding:15px;

}

.info-grid span{

display:block;

font-size:13px;

opacity:.6;

margin-bottom:8px;

}

.preview{

position:relative;

display:flex;

justify-content:center;
align-items:center;

height:700px;

margin:50px 0;

}

.preview img{

max-width:500px;

width:100%;

border:4px solid var(--primary);

box-shadow:0 0 40px rgba(0,255,120,.25);

opacity:0;

transform:scale(.9);

transition:1s;

}

.preview img.show{

opacity:1;

transform:scale(1);

}

form{

display:flex;

justify-content:center;

gap:20px;

margin-top:40px;

}

input{

width:350px;

padding:15px;

background:#111;

border:1px solid var(--primary);

color:white;

font-family:inherit;

}

button{

padding:15px 35px;

background:none;

border:1px solid var(--primary);

color:var(--primary);

font-family:inherit;

cursor:pointer;

transition:.3s;

}

button:hover{

background:var(--primary);

color:black;

}

#loader{

width:500px;

height:620px;

border:2px solid var(--primary);

padding:25px;

background:#050505;

box-shadow:0 0 30px rgba(0,255,100,.2);

display:flex;

align-items:flex-start;

justify-content:flex-start;

}

#loader-terminal{

white-space:pre-line;

line-height:1.8;

font-size:18px;

color:var(--primary);

width:100%;

}

#convite{

position:absolute;

opacity:0;

transform:

scale(.85)

rotate(-2deg);

transition:

opacity 1s,

transform .8s;

max-width:420px;

box-shadow:0 0 40px rgba(0,255,100,.3);

}

#convite.show{

opacity:1;

transform:

scale(1)

rotate(0deg);

}

#loader.hide{

opacity:0;

transform:scale(.95);

transition:.6s;

pointer-events:none;

}

#glitch-transition{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:#000;

opacity:0;

pointer-events:none;

z-index:99999;

}

#glitch-transition.active{

animation:glitchTransition .55s forwards;

}

@keyframes cursor{

50%{

opacity:0;

}

}

@keyframes glitchTransition{

0%{

opacity:0;

transform:none;

filter:none;

}

15%{

opacity:1;

transform:translateX(-8px);

filter:hue-rotate(90deg);

}

25%{

transform:translateX(8px);

}

30%{

opacity:1;

}

35%{

transform:translateX(-4px);

filter:invert(1);

}

50%{

transform:translateY(3px);

filter:contrast(3);

}

60%{

opacity:1;

}

70%{

opacity:1;

background:white;

}

100%{

opacity:1;

background:black;

}
}

#glitch-transition::before{

content:"";

position:absolute;

width:100%;
height:100%;

background:

repeating-linear-gradient(

0deg,

transparent 0px,

transparent 2px,

rgba(255,255,255,.08) 3px,

rgba(255,255,255,.08) 4px

);

opacity:0;

}

.background-grid{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

z-index:-2;

pointer-events:none;

}

.scanlines{

position:fixed;

width:100%;
height:100%;

pointer-events:none;

background:

repeating-linear-gradient(

transparent 0px,

transparent 2px,

rgba(255,255,255,.03) 3px,

rgba(255,255,255,.03) 4px

);

animation:scan 8s linear infinite;

z-index:999;

}

@keyframes gridMove{

from{

transform:translateY(0);

}

to{

transform:translateY(50px);

}

}

@keyframes scan{

from{

background-position-y:0;

}

to{

background-position-y:100vh;

}
}

.noise{

position:fixed;

width:100%;
height:100%;

background-image:url("https://www.transparenttextures.com/patterns/asfalt-dark.png");

opacity:.08;

mix-blend-mode:screen;

pointer-events:none;

z-index:-2;

}

.corner{

position:fixed;

width:40px;
height:40px;

border:2px solid #00ff88;

opacity:.7;

z-index: 100;

}

.tl{

top:20px;
left:20px;

border-right:none;
border-bottom:none;

}

.tr{

top:20px;
right:20px;

border-left:none;
border-bottom:none;

}

.bl{

bottom:20px;
left:20px;

border-right:none;
border-top:none;

}

.br{

bottom:20px;
right:20px;

border-left:none;
border-top:none;

}