<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <title>CONFIRMED</title>

    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body class="confirm">

    <div class="confirm-box">

        <div class="status">
            ACCESS GRANTED
        </div>

        <h1>
            PRESENÇA CONFIRMADA
        </h1>

        <p>
            Vejo você na EUPHORIA_19.
        </p>

        <a href="/" class="btn-main">
            RETURN
        </a>

    </div>
    <div id="glitch-transition"></div>
</body>

</html>